.card-back {
  background-color: var(--ahnumcl-interface-background, rgba(255, 255, 255, 0.75)) !important;
  backdrop-filter: blur(20px);
}

.card-front {
  background-color: var(--ahnumcl-interface-background, #FAFAFA) !important;
  padding: var(--chakra-space-3);
}

:global([data-theme="dark"]) .card-back {
  background-color: var(--ahnumcl-interface-background, rgba(0, 0, 0, 0.83)) !important;
}

:global([data-theme="dark"]) .card-front {
  background-color: var(--ahnumcl-interface-background, #2E2E2E) !important;
}
